<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{% url 'index' %}">
        <i class="bi bi-moisture me-2"></i> Цифровая ферма
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav w-100 d-flex flex-row justify-content-end align-items-center px-3">
        <div class="nav-item text-nowrap text-white me-3">
            <small class="text-muted">Роль: Администратор</small> | <strong>Дятьков Д.А.</strong>
        </div>
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3 btn btn-outline-danger btn-sm text-white" href="/admin/logout/">Выход</a>
        </div>
    </div>
</header>